#global_head{
    top:0;
    left: 0;
    width: 100%;
    z-index: 10000;
    position: absolute;
    height: 5rem;
    line-height: 5rem;
    background-color: #afd9ee;
}
h2{
    text-align: center;
    line-height: 24px;
}
.log_ss{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: red;
}