<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>login</title>
    <!--<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <script src="../js/vendor.js"></script>
    <link rel="stylesheet" href="../css/main.css"  />
    <link href="../css/common.css" rel="stylesheet" />
    <script src="../js/login.js"></script>
</head>
<body>
    <form title="">
        <section>
            <button class="btn btn-block btn-primary" id="back">back</button>
            <button class="btn btn-block btn-info"  id="btn">click</button>
            <div class="log_ss">

            </div>

            <p>hello gulp file   fuck </p>

    <b>sss</b>

            <p class="text-info">hello please zsq login</p>
        </section>
    </form>

</body>
</html>